In [1]:
import numpy as np
import pandas as pd

# **Series from lists**

In [2]:
# String

country = ['India', 'Pakistan', 'USA', 'Nepal', 'Srilanka']
print(pd.Series(country))

0       India
1    Pakistan
2         USA
3       Nepal
4    Srilanka
dtype: object

In [3]:
# Integers

runs = [12,23,35,55,56]
pd.Series(runs)

0    12
1    23
2    35
3    55
4    56
dtype: int64

In [4]:
# Custom Index

marks = [67,57,89,100]
subjects = ['maths','english', 'science', 'hindi']
pd.Series(marks, index=subjects)

maths       67
english     57
science     89
hindi      100
dtype: int64

In [5]:
# Setting name

marks = pd.Series(marks,index=subjects,name="Shivam shukla's marks")
marks.name

"Shivam shukla's marks"

# **Series from dict**

In [6]:
marks = {
    'maths': 67,
    'english':57,
    'science':89,
    'hindi':100
}

marks_series = pd.Series(marks, name= "Shivam Shukla's marks")
marks_series

maths       67
english     57
science     89
hindi      100
Name: Shivam Shukla's marks, dtype: int64

# **Series Attributes**

In [7]:
# size

marks_series.size

4

In [8]:
# dtype

marks_series.dtype

dtype('int64')

In [9]:
# name

marks_series.name

"Shivam Shukla's marks"

In [10]:
# is_unique

marks_series.is_unique

True

In [11]:
# index

marks_series.index

Index(['maths', 'english', 'science', 'hindi'], dtype='object')

In [12]:
# values

marks_series.values

array([ 67,  57,  89, 100])

In [13]:
type(marks_series.values)

numpy.ndarray

# **Series using read_csv**

In [14]:
# with one col

url = "https://drive.google.com/uc?id=1XQTnOAlodSzEqIQ0sJjnOv5zpG57OB4S"
subs = pd.read_csv(url)
subs

     Subscribers gained
0                    48
1                    57
2                    40
3                    43
4                    44
..                  ...
360                 231
361                 226
362                 155
363                 144
364                 172

[365 rows x 1 columns]

In [15]:
type(subs)

pandas.core.frame.DataFrame

In [16]:
# so you have to change it into series using squeeze

import pandas as pd

df = pd.read_csv(url)
series = df.iloc[:, 0]   # first column as Series
type(series)

pandas.core.series.Series

In [17]:
# with 2 cols


url = "https://drive.google.com/uc?id=19RVdLnwpCEO3GHzA3LuU2JhG7Or3UjFb"

df = pd.read_csv(url)

vk = df.set_index('match_no')['runs']

vk

match_no
1       1
2      23
3      13
4      12
5       1
       ..
211     0
212    20
213    73
214    25
215     7
Name: runs, Length: 215, dtype: int64

# **Series Methods**

In [18]:
# head and tail

subs.head()

   Subscribers gained
0                  48
1                  57
2                  40
3                  43
4                  44

In [19]:
vk.head(7)

match_no
1     1
2    23
3    13
4    12
5     1
6     9
7    34
Name: runs, dtype: int64

In [20]:
vk.tail()

match_no
211     0
212    20
213    73
214    25
215     7
Name: runs, dtype: int64

In [21]:
# sample

vk.sample()

match_no
94    4
Name: runs, dtype: int64

In [22]:
vk.sample(5)

match_no
43     30
113     1
215     7
67      3
210    30
Name: runs, dtype: int64

In [23]:
# value_counts
vk.value_counts()

runs
0     9
1     8
12    8
9     7
8     6
     ..
46    1
29    1
84    1
90    1
53    1
Name: count, Length: 78, dtype: int64

In [24]:
# sort_values

vk.sort_values()

match_no
8        0
87       0
93       0
91       0
206      0
      ...
164    100
120    100
123    108
126    109
128    113
Name: runs, Length: 215, dtype: int64

In [25]:
vk.sort_values(ascending=False)

match_no
128    113
126    109
123    108
120    100
164    100
      ...
93       0
130      0
206      0
207      0
211      0
Name: runs, Length: 215, dtype: int64

In [26]:
vk

match_no
1       1
2      23
3      13
4      12
5       1
       ..
211     0
212    20
213    73
214    25
215     7
Name: runs, Length: 215, dtype: int64

In [27]:
# you can change the original value too, using inplace

# vk.sort_values(inplace=True)

In [28]:
# sort_index

vk.sort_index()

match_no
1       1
2      23
3      13
4      12
5       1
       ..
211     0
212    20
213    73
214    25
215     7
Name: runs, Length: 215, dtype: int64

In [29]:
vk.sort_index(ascending=False)

match_no
215     7
214    25
213    73
212    20
211     0
       ..
5       1
4      12
3      13
2      23
1       1
Name: runs, Length: 215, dtype: int64

# **Series Maths Methods**

In [30]:
# count
vk.count()

np.int64(215)

In [31]:
# sum
vk.sum()

np.int64(6634)

In [32]:
subs.sum()

Subscribers gained    49510
dtype: int64

In [33]:
# mean,median,mode,std,var

subs.mean()

Subscribers gained    135.643836
dtype: float64

In [34]:
vk.median()

24.0

In [35]:
vk.mode()

0    0
Name: runs, dtype: int64

In [36]:
subs.mode()

   Subscribers gained
0                 105

In [37]:
subs.std()

Subscribers gained    62.675023
dtype: float64

In [38]:
vk.var()

688.0024777222344

In [39]:
# min, max

subs.min()

Subscribers gained    33
dtype: int64

In [40]:
subs.max()

Subscribers gained    396
dtype: int64

In [41]:
# describe

vk.describe()

count    215.000000
mean      30.855814
std       26.229801
min        0.000000
25%        9.000000
50%       24.000000
75%       48.000000
max      113.000000
Name: runs, dtype: float64