In [1]:
import numpy as np
import pandas as pd

# **Creating DataFrame**

In [2]:
# using lists

student_data = [
[100,80,10],
[90,70,7],
[120,100,14],
[80,50,2]
]

pd.DataFrame(student_data, columns=['iq','marks','package'])

    iq  marks  package
0  100     80       10
1   90     70        7
2  120    100       14
3   80     50        2

In [3]:
# using dicts

student_dict = {
     'name':['shivam','shubham', 'shivangi','shubhangi','manish','manisha'],
    'iq':[100,90,120,80,0,0],
    'marks':[80,70,100,50,0,0],
    'package':[10,7,14,2,0,0]
}

students = pd.DataFrame(student_dict)
students

        name   iq  marks  package
0     shivam  100     80       10
1    shubham   90     70        7
2   shivangi  120    100       14
3  shubhangi   80     50        2
4     manish    0      0        0
5    manisha    0      0        0

In [4]:
# set index without modifying actual dataframe

students.set_index('name')

            iq  marks  package
name
shivam     100     80       10
shubham     90     70        7
shivangi   120    100       14
shubhangi   80     50        2
manish       0      0        0
manisha      0      0        0

In [5]:
# set index inplace
students.set_index('name', inplace=True)
students

            iq  marks  package
name
shivam     100     80       10
shubham     90     70        7
shivangi   120    100       14
shubhangi   80     50        2
manish       0      0        0
manisha      0      0        0

In [6]:
# to reverse the inplace index set

students.reset_index(inplace=True)

In [7]:
# using read_csv
movies = pd.read_csv('movies.csv')
movies

FileNotFoundError: [Errno 2] No such file or directory: 'movies.csv'

In [8]:
ipl = pd.read_csv('ipl-matches.csv')
ipl

FileNotFoundError: [Errno 2] No such file or directory: 'ipl-matches.csv'

# **DataFrame Attributes and Methods**

In [ ]:
# shape

movies.shape

In [ ]:
ipl.shape

In [ ]:
# dtypes
movies.dtypes

In [9]:
ipl.dtypes

NameError: name 'ipl' is not defined

In [10]:
# index
movies.index

NameError: name 'movies' is not defined

In [ ]:
# columns
movies.columns

In [ ]:
ipl.columns

In [ ]:
# values
students.values

In [ ]:
ipl.values

In [ ]:
# head and tail
movies.head()

In [ ]:
movies.head(7)

In [ ]:
ipl.tail()

In [ ]:
ipl.tail(8)

In [ ]:
# sample
ipl.sample(8)

In [ ]:
# info
movies.info()

In [ ]:
# describe
movies.describe()

In [ ]:
# isnull
movies.isnull().sum()

In [ ]:
# duplicated
movies.duplicated().sum()

In [ ]:
#rename
students

In [ ]:
students.rename(columns={'marks':'percent','package':'lpa'})

# **Math Methods**

In [ ]:
# sum -> axis argument
students.sum(axis=0) # col wise

In [ ]:
students

In [ ]:
students.set_index('name', inplace=True)

In [ ]:
# mean
students.mean(axis=1)

In [ ]:
# var

students.var()

# **Selecting cols from DataFrame**

In [ ]:
# single cols
movies['actors']

In [ ]:
type(movies['actors'])

In [ ]:
# multiple cols
movies[['year_of_release','actors','title_x']]

In [ ]:
ipl[['Team1','Team2','WinningTeam']]

# **Selecting Rows from a DataFrame**

*   **iloc -** searches using index positions
*   **loc -** searches using index labels

In [ ]:
# single row
movies.iloc[4]

In [ ]:
movies

In [ ]:
# multiple rows
movies.iloc[:5]

In [ ]:
# fancy indexing

movies.iloc[[0,4,5]]

In [ ]:
# loc

students

In [ ]:
students.loc['shivam']

In [ ]:
students.loc['shivam':'manisha': 2]

In [ ]:
students.loc[['shivam', 'shivangi','shubhangi']]

# **Selecting both rows and cols**

In [ ]:
movies.iloc[0:3,0:3]

In [ ]:
movies.iloc[3,3]

In [ ]:
movies.loc[0:2,'title_x':'poster_path']

# **Filtering a DataFrame**

In [11]:
ipl.head()

NameError: name 'ipl' is not defined

In [ ]:
ipl.head(2)

In [12]:
# find all the final winners

mask = ipl['MatchNumber'] == 'Final'
new_df = ipl[mask]
new_df[['Season','WinningTeam']]

NameError: name 'ipl' is not defined

In [ ]:
# above thing can be done in one line too

ipl[ipl['MatchNumber'] == 'Final'] [['Season','WinningTeam']]

In [ ]:
# How many super over finishes have occured
ipl.sample(3)

In [13]:
ipl[ipl['SuperOver'] == 'Y'].shape[0]

NameError: name 'ipl' is not defined

In [ ]:
# How many matches has csk won in kolkata
ipl.head(2)

In [ ]:
df = ipl[(ipl['City'] == 'Kolkata') & (ipl['WinningTeam'] == 'Chennai Super Kings')]

In [14]:
df.shape[0]

NameError: name 'df' is not defined

In [ ]:
# Toss winner is match winner in percentage
(ipl[ipl['TossWinner'] == ipl['WinningTeam']].shape[0]/ipl.shape[0])*100

In [15]:
# movies with rating higher than 8 and votes>10000
movies.head(3)

NameError: name 'movies' is not defined

In [ ]:
movies[(movies['imdb_rating'] > 8) & (movies['imdb_votes'] > 10000)].shape[0]

In [ ]:
# Action movies with rating higher than 7.5
movies.sample(5)

In [16]:
mask1 = movies['genres'].str.split('|').apply(lambda x: 'Action' in x)

NameError: name 'movies' is not defined

In [ ]:
mask2 = movies['imdb_rating'] > 7.5

In [17]:
movies[mask1 & mask2].shape[0]

NameError: name 'movies' is not defined

In [ ]:
# another way
mask3 = movies['genres'].str.contains('Action')
movies[mask2 & mask3].shape[0]

In [ ]:
# Write a function that can return the track record of 2 teams against each other

# **Adding new cols**

In [18]:
# completely new
movies['country'] = 'India'
movies.head()

NameError: name 'movies' is not defined

# **Important Functions**

In [ ]:
# astype
ipl.info()

In [ ]:
ipl['ID'] = ipl['ID'].astype('int32')

In [19]:
ipl.info()

NameError: name 'ipl' is not defined

In [ ]:
ipl['Season'] = ipl['Season'].astype('category')

In [20]:
ipl.info()

NameError: name 'ipl' is not defined